<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Latest compiled and minified CSS -->
        <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        -->
		<!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.5.1/js/bootstrap.min.js"></script> -->

        <title>Organic Integrity</title>
	<style>
	p.padding_left {
	  padding-left: 5%;
	}
	.table-responsive {
    max-height:500px;
	max_width: 500px;
}

	</style>
    </head>

    <body>
        <div class="container">
            <p> Organic Data</p>

        <br>

            </p>
                <form action="." method="POST">
                    <div class="form-group">
                    </div>
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>
        </div>
		{% if organic_display %}
		<p class="padding_left">Organic Operations By Country</p>
			<table class="table table-responsive table-hover" style="font-size: 8px; width: 40%">
				<thead style="position: sticky; background-color: white; top: 0">
					{% for col in organic_cols %}
						<th>{{ col }}</th>
					{% endfor %}
				</thead>
				<tbody style="margin-top: 16px">
					{% for country in organic_display %}
						<tr style">
							{% for attribute in country %}
								<td>{{ attribute}}</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
		</div>
		{% endif %}
    </body>
</html>