<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Latest compiled and minified CSS -->
        <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        -->
		<!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.5.1/js/bootstrap.min.js"></script> -->

        <title>Organic Integrity</title>
    </head>

    <body>
        <div class="container">
            <p> Organic Data</p>

        <br>

            </p>
                <form action="." method="POST">
                    <div class="form-group">
                    </div>
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>
        </div>
        {% if organic_display %}
        <div class="container-xl overflow-y: scroll">
			<p>{{ organic_display }}</p>
            {% for value in organic_display %}
                <div class="row no-gutters small">
                    {% for i in value %}
                          <div class="col no-gutters small">{{ i }}</div>
                        {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </body>
</html>