<html class="has-sticky-footer">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Latest compiled and minified CSS -->
        <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
		
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        -->
		<!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.5.1/js/bootstrap.min.js"></script> -->

        <title>Organic Integrity - Certification in U.S.</title>
	<style>
	p.padding_left {
	  padding-left: 5%;
	}
	.table-responsive {
    max-height:500px;
	<!-- max_width: 500px; -->
}

	</style>
    </head>

    <body>
		<nav class="navbar navbar-expand-md bg-secondary navbar-dark">
		
			<a class="navbar-brand" href= "{{ url_for('index') }}">Home</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible_navbar">
					<span class="navbar-toggler-icon"></span>
				</button>
			<div class="nav navbar-nav navbar-right mr-auto">
				<a class="nav-item nav-link mx-3 active" href="{{ url_for('world') }}">View global certification page</a>
				<a class="nav-item nav-link mx-3 active" href="{{ url_for('united_states') }}">View U.S. certification page</a>
				<a class="nav-item nav-link mx-3 active" href="{{ url_for('us_forecasting') }}">View U.S. certification forecasting page</a>
				<a class="nav-item nav-link mx-3 active" href="{{ url_for('products') }}">View products page</a>
			</div>
		</nav>
		<div class="jumbotron">
			<h3 style="text-align:center;">United States Organic Certification Forecasting</h3>
		</div>
		<div class="container-fluid">
			<div class="row">
				<!-- Certification status trends and counts -->
				<div class="col-lg-6">
					<div class="container mt-3">
						<h3>Random Forest Time Series Forecasting</h3>
						<p>To predict the change in U.S. organic certification over time,
							the monthly certification change in certification was calculated as
							Certified - (Surrendered, Suspended, and Revoked) from the beginning of 2019,
							when this data appears to have been collected. A random forest model was created
							using Scikit Learn's RandomForestRegressor. In validation and testing, it was found
							that using two shifted monthly counts gave the best results. As part of the update processing
							for this application, the model is updated as well.
						</p>
					</div> <!-- Nav container end -->
				</div> <!-- Certification status trends and counts column end -->
				<div class="col-lg-6"> <!-- Certification trend plots column -->
					<div class="container mt-3">
					  <h3>Prediction Outcomes</h3>
					  <br>
					  <!-- Nav tabs -->
					  <ul class="nav nav-tabs">
						<li class="nav-item">
						  <a class="nav-link active" data-toggle="tab" href="#cert_trend">U.S. Certification Trend</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#cert_count">U.S. Certification Counts</a>
						  </li>
					  </ul>

					  <!-- Tab panels -->
					  <div class="tab-content">
						
						<!-- US Certification Trends Plot -->
						<div id="cert_trend" class="container tab-pane active"><br>
						  <h4>U.S. Monthly Certification Trends - Six Month Forecast</h4>
						  <p>Below, the net change in certification is shown as
						     Certified - (Surrendered, Suspended, and Revoked)</p>
						  <img class="img-responsive" src="{{ url_for('static', filename='images/US_forecast_month_change.png') }}" alt="Chart" style="width:100%">
						</div> <!-- tab end -->
						<div id="cert_count" class="container tab-pane fade"><br>
							<h4>U.S. Certification Over Time - Six Month Forecast</h4>
							<p>Below, the estimated total count of certified operations in the U.S. over time is shown.</p>
							<img class="img-responsive" src="{{ url_for('static', filename='images/US_forecast_total_count.png') }}" alt="Chart" style="width:100%">
						  </div> <!-- tab end -->
					  </div>
					</div>
				</div>			
			</div> <!-- Row end -->	
		</div>
		</body>
		<!-- Footer -->
		<!-- Footer styling: https://stackoverflow.com/questions/51480958/bootstrap-4-footer-not-at-bottom -->
        <footer class="d-flex justify-content-center mt-auto">
            <div class="d-flex justify-content-between col-md-8 col-md-offset-2 mb-3 mt-5">
				<div class="align-left">
					<a class="font-weight-bold small kf-blue kf-links" href="https://github.com/danstd/organic_integrity_flask">Github</a> |
                    <a class="font-weight-bold small kf-blue kf-links" href="https://organic.ams.usda.gov/Integrity/Developer/APIHelp.aspx">Organic Integrity</a>
                </div>
				<div class="align-middle">
					<i>This product uses USDA’s Organic Integrity Database API but is not endorsed or certified by USDA.</i>
				</div>
                <div class="align-right">
					<a class="font-weight-bold small kf-blue kf-links" href="mailto:danielst.davis@gmail.com">Contact</a>
                </div>
            </div>
        </footer>
</html>